.notes {
    padding: 60px 50px;
    text-align: center;
}

.notes h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.notes-container {
    display: flex;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.links-to-unit {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.links-to-unit ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-to-unit li {
    margin: 10px 0;
}

.links-to-unit a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
}

.links-to-unit a:hover {
    color: #1abc9c;
}

.main-container {
    width: 800px;
    padding: 10px;
    flex-grow: 1;
    background: #f7f9fa;
    text-align: justify;
}

.main-container h1 {
    font-size: 40px;
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.main-container .definition {
    font-size: 17px;
    margin-bottom: 10px;
}

.main-container h2 {
    font-size: 2em;
    color: #2980b9;
    margin-bottom: 10px;
}

.main-container h3 {
    font-size: 1.6em;
    color: #149c87;
    margin-bottom: 10px;
}

.main-container h4 {
    font-size: 1.5em;
    color: #6a92b4;
    margin-bottom: 10px;
}

.main-container .list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #1abc9c;
    background-color: #f0f7f3;
    font-size: 16px;
}

.main-container .w-list {
    border-left: 4px solid #6a92b4;
    background-color: #ecf0f1;
}

.main-container .r-list {
    border-left: 4px solid #ff4c4c;
    background-color: #fff5f5;
}

.main-container .n-list {
    margin-top: -15px;
    border-left: none;
    background-color: #f7f9fa;
}

.main-container .question {
    font-weight: bold;
    color: #ff6d6d;
    margin-bottom: 7px;
}

.main-container .answer {
    font-style: italic;
    margin-bottom: 10px;
}

.unit ul,
ol {
    padding-left: 20px;
}

.unit li {
    margin-bottom: 6px;
}

.unit {
    margin-bottom: 60px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .main-container h1 {
        font-size: 30px;
    }

    .main-container h2 {
        font-size: 1.8em;
    }

    .main-container h3 {
        font-size: 1.5em;
    }

    .main-container h4 {
        font-size: 1.4em;
    }
}

.code {
    background-color: #282c34;
    color: #61FDBA;
    padding: 1em ;
    border-radius: 5px;
    font-family: 'Courier New';
    white-space: pre;
    text-wrap-mode: wrap;
    overflow: auto;
}

.comment {
    color: #6a9955;
    font-style: italic;
}

.keyword {
    color: #ff79c6;
}

.string {
    color: #f1fa8c;
}

.number {
    color: #bd93f9;
}